*{
	padding:0;
	margin:0;
	font-family: cursive, sans-serif;
}

body{
	background-color: #36332e;
}

.choice{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100px;
	height:100px;
	margin:10px;
	background-color: #997a73;
	color:#fff;
	font-size: 2rem;
	border-radius: 20px;
	box-shadow: 2px 4px #333;
	cursor:pointer;
	transition: background-color 0.3s;
	position: relative;

}

.choice:hover,#startReset:hover{
	background-color: #e3c3c1;
	color:#000;
}

.choice:active,#startReset:active{
	top:4px;
	box-shadow: 0px 0px;
}

#container{
	display: flex;
	flex-direction: column;
	width:550px;
	height:700px;
	background-color:#bdb79f;
	margin: 100px auto;
	border-radius: 50px;
	box-shadow: 6px 6px #000;
	align-items: center;
	position:relative;

}


#info{
	display: flex;
	flex-direction: row;

}

#formula, #instruction,#choices{
	
	color:#fff;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:20px;
	
}

#formula,#instruction{
	background-color:#f0694a;
	border-radius: 20px;
	box-shadow: 2px 4px #333;
}

#choices{
	background-color: #bdb79f;
}
#formula{
	width:400px;
	height:200px;
	font-size: 4rem;
}

#instruction{
	width:400px;
	height:100px;
	font-size: 2rem;
	background-color: #f79f8b;
}

#score,#correct,#wrong,#startReset,#time{
	color:#fff;
	display:flex;
	height:50px;
	background-color:#f5a55f;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	margin:20px;
	box-shadow: 2px 4px #333;
}

#score,#correct,#wrong,#startReset{
	width:100px;
}
#time{
	padding: 0 20px;
	background-color: #69370c;
	box-shadow: 0 0;
	border-radius: 5px;
}


#correct,#wrong{	
	background-color:#e86d51;
	display:none;
}

#command{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	transition: 0.3s;
}

#startReset{
	padding:0 20px;
	transition: 0.3s;
	position: relative;
	cursor: pointer;
}

#gameOver{
	display: flex;
	color:#444;
	flex-direction: column;
	justify-content: center;
	width:500px;
	height:300px;
	font-size: 3rem;
	border-radius: 10px;
	text-align: center;
	background-image: linear-gradient(#ffeab0,#fcba03);
	position:absolute;
	top:200px;
	z-index: 2;
	display: none;
}